// bower:scss
// endbower

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: transparent url() center top no-repeat;
    background-size: cover;
    color: #333;
    margin: 0; padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
}

// Variables
$netflix-red: #e50914;


// Page styles
header {
    width: 100%;
    background: transparent url() right 3vw center no-repeat;
    background-size: contain;
    padding-left: 3vw;
    margin: 1em 0;
}

h1 {
    font-size: 1.8em;
    margin: 0;
    text-shadow: 0 0 2px #fff, 0 0 2px #fff;
}

p {
    margin: 0.5em;
}

a {
    text-decoration: none;
    color: $netflix-red;
    font-weight: bold;
    transition: color 0.2s ease;
    &:hover {
        color: black;
        transition: color 0.2s ease;
    }
}

.container {
    height: calc(90vh - 75px);
    width: 94vw;
    margin: 0 3vw 6vh;
    background-color: rgba(255,255,255,0.7);
}

.viewList {
    width: 50%;
    height: 100%;
    overflow: scroll;
    float: left;
    margin: 0; padding: 0;
    border: 1px black solid;
    border-collapse: collapse;
    &.loading:before {
        content: '';
        position: absolute;
        width: 200%; height: 200%;
        top: -44%;
        left: -27%;
        z-index: -1;
        background: transparent url(/images/spinner.png) center center no-repeat;
        background-size: 100px;
        animation-name: spin;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform: translateZ(0);
    }
    &.reposList li:not(.ahem) {
        &:hover {
            cursor: pointer;
            background-color: rgba(187, 187, 187, 0.5);
            transition: background-color 0.2s ease;
        }
        &.selected {
            background-color: $netflix-red;
            color: white;
            transition: background-color 0.2s ease;
        }
    }
    li {
        list-style-type: none;
        border-bottom: 1px black solid;
        padding: 5px;
        transition: background-color 0.2s ease;
        &.ahem {
            background-color: $netflix-red;
            color: white;
            transition: color 0.2s ease;
            p {
                font-size: 1.3em;
            }
            font-weight: bold;
            a {
                color: black;
                &:hover {
                    color: white;
                }
            }
            &.loadmore:hover {
                cursor: pointer;
                color: black;
                transition: color 0.2s ease;
            }
        }
    }
}


@keyframes spin {
    from {
        transform: rotate(360deg);
    } to {
        transform: rotate(0deg);
    }
}

// Repos list

