// bower:scss
// endbower

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: transparent url(/images/onion-bg.jpg) center 100px no-repeat;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0; padding: 0;
}



// Global

header {
    width: 100%;
    height: 100px;
    background: #fafafa url(/images/onion.png) 10px center no-repeat;
    background-size: 325px;
    line-height: 100px;
    padding-left: 50%;
    margin: 0;
}

h1 {
    font-size: 1.4em;
    margin: 0;
}

.container {
    height: calc(80vh - 100px);
    margin-top: 10vh;
}

.viewList {
    background-color: rgba(255,255,255,0.7);
    width: 50%;
    height: 100%;
    overflow: scroll;
    float: left;
    margin: 0; padding: 0;
    border: 1px black solid;
    border-collapse: collapse;
    li {
        list-style-type: none;
        border-bottom: 1px black solid;
        padding: 5px;
        transition: background-color 0.2s ease;
        &:hover {
            cursor: pointer;
            background-color: #bbb;
            transition: background-color 0.2s ease;
        }
        &.selected {
            background-color: #f0f;
            transition: background-color 0.2s ease;
        }
    }
}

// Repos list

